{{ define "composer_plugins" -}}
## 🔌 New Composer plugins

During the update process, new Composer plugins were detected and added to the allowlist with their initial value set to false:

{{ range . -}}
- {{ . }}
{{ end }}
Please review the changes and adjust the values as needed. Run the following command to allow the plugins:

```bash
{{ range . -}}
composer config allow-plugins.{{ . }} true
{{ end -}}
```

{{ end }}

