This automated merge request by [Drupdater](https://github.com/drupdater/drupdater) includes updates for your Drupal site. Please review the changes carefully to ensure compatibility and stability before merging.

{{ template "security_report" .SecurityReport }}
{{ if .DependencyUpdateReport.PatchUpdates.Changes }}{{ template "patch_updates" .DependencyUpdateReport.PatchUpdates }}{{ end -}}
{{ if .DependencyUpdateReport.AddedAllowPlugins }}{{ template "composer_plugins" .DependencyUpdateReport.AddedAllowPlugins }}{{ end -}}
{{ template "composer_diff" .ComposerDiff }}
---

_Thanks for participating in our beta program! We would like to get your feedback on this merge request. Please take a minute and participate in the survey: [Feedback Form](https://example.com)_
