This automated merge request includes updates for your Drupal site. Please review the changes carefully to ensure compatibility and stability before merging.

{{ template "security_report" .SecurityReport }}
{{ if .DependencyUpdateReport.PatchUpdates.Changes }}{{ template "patch_updates" .DependencyUpdateReport.PatchUpdates }}{{ end -}}
{{ if .DependencyUpdateReport.AddedAllowPlugins }}{{ template "composer_plugins" .DependencyUpdateReport.AddedAllowPlugins }}{{ end -}}
{{ template "composer_diff" .ComposerDiff }}
