## 📄 Job Logs

<details>
<summary>⚙️ Update Hooks</summary>

{{ $multiSite := gt (len .) 1 -}}
{{ range $site, $hooks := . -}}
{{ if $multiSite }}### Site: {{ $site }}

{{ end -}}
| Hook | Description |
| ---- | ----------- |
{{ range $hookName, $hookDetails := $hooks -}}
| {{ $hookName | cell }} | {{ $hookDetails.Description | cell }} |
{{ end -}}
{{ end }}
</details>
